@import "~normalize-scss/sass/normalize/import-now";
@import "fonts";

* {
  box-sizing: border-box;
  color: #0e151a;
  font-family: "Roboto", sans-serif;
}

html,
body {
  background-color: rgba(78, 195, 224, 0.05);
  min-width: 360px;
  overflow-y: scroll;
}

img {
  display: block;
}
