@import "~normalize-scss/sass/normalize/import-now";
@import "fonts";

html,
body {
  color: #0e151a;
  font-family: "Roboto", sans-serif;
  min-width: 360px;
}

body {
  background-color: #f4f8fe;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}
