.agoraSelect {
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  padding-right: 2rem;
  padding-left: 1rem;
  border: 1px solid #c6cacc;
  border-radius: 4px;
  background-image: url("data:image/svg+xml;utf8,<svg width='24' height='24' viewBox='0 0 24 24' fill='black' xmlns='http://www.w3.org/2000/svg'><path d='M7 9L12 14L17 9H7Z' fill='rgb(120, 144, 156)'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 7px;
}
