.button {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 17px 52px;
  box-sizing: border-box;
  background: #172df3;
  border-radius: 4px;

  img {
    margin-left: 5px;
  }
}
