.button {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 17px 17px;
  max-width: 16rem;
  width: 100%;
  box-sizing: border-box;
  background: #172dF3;
  border-radius: 4px;
  white-space: nowrap;
  box-shadow: 0 4px 10px 0 rgba(44, 125, 247, 0.24);
  text-align: center;
  svg {
    display: inline-block;
    margin-left: 5px;
  }
}
