.button {
  display: inline-block;
  color: #006298;
  text-decoration: none;
  padding: 17px 17px;
  max-width: 16rem;
  width: 100%;
  box-sizing: border-box;
  background: white;
  border-radius: 4px;
  white-space: nowrap;
  box-shadow: 0 4px 10px 0 rgba(0, 98, 152, 0.24);
  text-align: center;
  border: 2px solid #006298;
}
