.errorPage {
  height: 100vh;
  max-width: 1215px;
  width: 100%;
  display: table;
  margin: 0 auto;
}

.errorPage__wrapper {
  background: white url('../../assets/png/page_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &::before {
    content: ' ';
    position: fixed;
    width: 3150px;
    height: 4320px;
    top: calc(-1100px);
    left: calc(-2070px + 50vw);
    z-index: -1;
  }
}

.errorPage__logo {
  svg {
    height: 38px;
    margin-right: 0.5rem;
  }
}

.errorPage__logo__content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.errorPage__content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.errorPage__content__caption {
  font-weight: 300;
  letter-spacing: 0.7px;
  color: #fff;
  text-align: center;
  position: relative;
  display: table;
  margin: 0 auto 2rem;
  text-transform: uppercase;

  &::after {
    content: ' ';
    position: absolute;
    height: 1px;
    width: 3rem;
    background: #fff;
    bottom: -0.5rem;
    left: 0;
  }
}

.errorPage__content__code {
  color: #fff;
  font-size: 96px;
  letter-spacing: 4px;
}

.errorPage__footer {
  display: table-row;
  height: 100px;
  width: 100%;
}

.errorPage__footer__content {
  text-align: center;
  max-width: 360px;
  margin: 0 auto 5rem;

  > p.header {
    position: relative;
    color: #fff;
    font-size: 18px;

    &::after {
      content: ' ';
      position: absolute;
      height: 1px;
      width: 5rem;
      bottom: -1em;
      left: 0;
      right: 0;
      margin: 0 auto;
      background: #fff;
    }
  }

  > p.description {
    opacity: 0.5;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    margin: 2rem 0;
  }

  > a {
    font-size: 14px;
    font-weight: 500;
    color: #4ec3e0;
    text-decoration: none;
    cursor: pointer;
  }
}
