@import "proposals";

.exploration__info {
  display: flex;
  justify-content: space-between;

  > * {
    margin: 0 1rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

@media only screen and (max-width: 850px) {
  .exploration__info {
    flex-direction: column;

    > * {
      margin: 0 0 1rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.exploration__voters {
  flex: 1;
}
