.bakers {
  margin: 3rem 0 1rem;
  max-width: 100vw;
  background: white;
  font-family: 'Poppins', sans-serif;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(8, 35, 48, 0.25);
  border-collapse: collapse;

  thead {
    color: rgba(51, 77, 110, 0.5);
    font-size: 13px;

    tr {
      border-bottom: 1px solid #ebeff2;
    }

    th {
      text-align: left;
      height: 4em;
    }

    th:first-child {
      padding-left: 4rem;
    }

    th:last-child {
      text-align: right;
      padding-right: 2rem;
    }
  }

  tbody {
    font-size: 15px;

    tr {
      border-bottom: 1px solid #ebeff2;
    }

    tr:last-child {
      border-bottom: none;
    }

    td {
      height: 4em;
      text-align: left;

      &.shaded {
        color: #707683;
      }
    }

    td:first-child {
      padding-left: 4rem;
    }

    td:last-child {
      text-align: right;
      padding-right: 2rem;
    }
  }
}
