.periodHeader {
  display: flex;
  border-radius: 4px;

  a {
    img {
      display: block;
      border-radius: 50%;
      box-shadow: 0 16px 24px rgba(54, 123, 245, 0.2);
      width: 40px;
      height: 40px;
    }

    &:last-child {
      margin-left: auto;
      img {
        transform: rotateY(180deg);
      }
    }

    &.disabled {
      pointer-events: none;
    }
  }
}

.periodHeader__selector {
  margin-left: 1rem;
}

.periodHeader__stage {
  margin-left: 1rem;
}

.periodHeader__timeTracker {
  margin-left: auto;
}
