.periodHeader {
  display: flex;
  border-radius: 4px;
  align-items: center;

  a {
    img {
      display: block;
      border-radius: 50%;
      box-shadow: 0 16px 24px rgba(54, 123, 245, 0.2);
      width: 40px;
      height: 40px;
    }

    &:last-child {
      margin-left: auto;
      img {
        transform: rotateY(180deg);
      }
    }

    &.disabled {
      pointer-events: none;
    }
  }
}

.periodHeader__selector {
  //display: flex;
}

.periodHeader__stage {
  display: flex;
  margin-left: 1rem;
}
.periodHeader__main {
  margin-left: 1rem;
}

.periodHeader__stage_short {
  display: none;
}

@media only screen and (min-width: 850px){
  .periodHeader__main {
    display: flex;
  }
}

@media only screen and (max-width: 850px){
  .periodHeader__main {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    text-align: center;
  }
  .periodHeader__stage {
    display: none;
  }

  .periodHeader__timeTracker {
    display: none;
  }

  .periodHeader__stage_short {
    display: flex;
  }
}

@media only screen and (max-width: 1150px) {
  .periodHeader__timeTracker {
    display: none;
  }
}

.periodHeader__timeTracker {
  margin-left: auto;
}
