.explorationDescription__title {
  font-size: 64px;
  font-weight: 800;
  line-height: 77px;
  color: #0e151a;
  margin: 0;
}

.explorationDescription__description {
  font-size: 18px;
  line-height: 28px;
  color: #76828b;
  margin-top: 2rem;
}

.explorationDescription__discussButton {
  margin-top: 2rem;
}
