.proposalTimeTracker {
  display: flex;
  align-items: center;
  font-size: 13px;
}

.proposalTimeTracker__caption {
  margin: 1px .5rem 0;
  opacity: 0.8;
  color: #fff;
}

.proposalTimeTracker__circles {
  display: flex;
  align-items: center;
}

.proposalTimeTracker__circle {
  min-width: 1rem;
  height: 1rem;
  margin: 0 5px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.proposalTimeTracker__circle__fill {
  top: 0;
  bottom: 0;
  right: 0;
  background: black;
  display: block;
  position: absolute;
}

.proposalTimeTracker__circle_current {
  border: 2px solid #fff;
  background: #fff;
}

.proposalTimeTracker__circle_filled {
  background: #fff;
}

.proposalTimeTracker__circle_empty {
  opacity: .8;
  border: 2px solid #fff;
}
