.proposalStage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 20px;

  img {
    margin-right: 0.2rem;
    margin-left: 0.3rem;
  }
}

.proposalStage__indicator {
  height: 100%;
  line-height: 40px;
  border-radius: 4px;
  padding: 0 1rem;

  &_selected {
    background: #e5efff;
  }
}
