.proposalDescription__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.proposalDescription__body {
  font-size: 18px;
  margin-top: 0.5rem;
  color: #76828b;
  line-height: 28px;

  @media only screen and (max-width: 850px) {
    img {
      height: auto;
      max-width: 100%;
    }

    svg {
      display: none;
    }
  }
}
