.countdown {
  font-family: Poppins, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.countdown__title,.countdown__datePeriod {
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.countdown__timeLeft {
  margin-top: 0.5rem;
  font-size: 35px;
  color: #172df3;
  line-height: 52px;
}
