.card {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(18, 50, 98, 0.16), 0 0 8px 0 rgba(18, 50, 98, 0.08);
  min-width: 0;
  background: white;
  overflow: hidden;
}

.card__header {
  font-weight: 500;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #b2c1c9;
}

.card__body {
  flex: 1;
  padding: 1.5rem;
}
