.header {
  display: flex;
  color: #0e151a;
  border-bottom: 1px solid #d1dae0;
  padding: 1rem 0;
  margin-bottom: 1.5rem;
}

.header__logo {
  display: flex;
  a {
    display: flex;
    align-items: center;
  }
}

.header__links {
  margin-left: auto;
  display: flex;
  a {
    display: flex;
    align-items: center;
    color: #0e151a;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin: 0 1.125rem;
  }

  a:last-child {
    padding-right: 0;
    margin-right: 0;
  }
}

.header__expandMenuButton {
  display: none;

  > svg {
    padding: 1rem;
    box-sizing: content-box;
    cursor: pointer;
  }
}

@media only screen and (max-width: 768px){
  .header__logo {
    margin-left: auto;
  }
  .header__links {
    display: none !important;
  }

  .header__expandMenuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }
}

.header__logo__img {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0.3em;
  height: 100%;
  margin-left: 1rem;
  color: #0e151a;
  text-decoration: none;
}
