.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.layout__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  > * {
    max-width: 1215px;
    width: 100%;
  }
}
